<div class="container">
    <div class="row">
        <div class="col-md-4">
            <form>
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input id="name" name="name" type="text" [(ngModel)]="contact.name" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="phoneNumber">Phone Number:</label>
                    <input id="phoneNumber" name="phoneNumber" [(ngModel)]="contact.phoneNumber" type="text" class="form-control" />
                </div>
            </form>
            <p>{{ contact | json }}</p>
        </div>
    </div>
</div>